/* Background colors  */

.bg-darkblue {
    background-color: rgba(39, 40, 51, 1);
}

.bg-red {
    background-color: #e44c65;
    border: 1px solid #e44c65;
    
}

.bg-blue {
    background-color: rgb(93, 93, 238);
}

.bg-green {
    background-color: rgb(45, 212, 81);
}

.bg-darkblue-opacity {
    background-color: rgba(39, 40, 41, .85);
}

.bg-white{
    background-color: white;
    color: #e44c65;
}

/* Banner */

.banner {
    height: 90vh;
    width: 100%;
}

.banner {
    padding-top: 150px;
    font-size: 20px;
}

.banner h1 {
    font-size: 50px;

}

.fa-chevron-down {
    font-size: 50px;
    position: absolute;
    left: 48%;
    bottom: 20px;
    color: white;
}



/* First content  */

.content-one {
    background-image: url("./images/picture1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

}

.text-one {
    height: 40vh;
    width: 100%;
    border-top: 5px solid #e44c65;
    background-color: rgba(39, 40, 51, .85);
    position: absolute;
    bottom: 0;
    padding-top: 20px;

}

.content-one p {
    font-size: 20px;
}





/* Second content  */
.content-two {

    background-image: url("./images/picture2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    position: relative;
}

.text-two {
    background-color: rgba(39, 40, 51, .85);
    border-left: 9px solid rgb(93, 93, 238);
    height: 100vh;
    padding: 100px;
    position: absolute;
    margin-left: 60%;
}

.text-two h3 {
    font-size: 25px;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 5px 10px;
}

/* Third content */

.content-three {
    background-image: url("./images/picture3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    position: relative;
}



.text-three {
    background-color: rgba(39, 40, 51, .85);
    border-right: 9px solid rgb(45, 212, 81);
    height: 100vh;
    padding: 100px;
    position: absolute;
    margin-right: 60%;
    left: 0;
}

/* icons content  */

#elements {
    height: 100vh;
}

#elements h3{
    font-size: 20px;
}

#elements p{
    font-size: 15px;
}

.title h2{
    font-size: 25px;
}

.circle-icon {
    background-color: rgba(255, 255, 255, .1);
    font-size: 30px;
    padding: 20px;
    border-radius: 50%;
}

/* Form tag  */

#form{
    height: 40vh;
}

.form{
   padding-top: 50px;
}

.email{
    background-color: transparent;
    padding: 5px 25px;
    border: 1px solid white;

}
::placeholder { 
    color: white;
}

footer{
    height: 20vh;
}

.icons{
    padding-left: 40%;
}

.footer-icons{
    font-size: 30px;
    margin-right: 20px;
    padding-top: 30px;
}